Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* We learnt about tools. 
* We learnt about open environments.
* We learnt about languages such as Python, R, SQL etc.

Some of the popular languages that Data Scientists use are:
1. Machine Learning
2. SQL
3. Python
4. Deep learning
5. R
6. Big data

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Keras
6. Tensorflow
7. PyTorch

Data Science Tools
1. Jupyter notebook
2. RStudio
3. Visual Studio Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
h=200/60
print(h)

3.3333333333333335

# Author

Shalini arora